// app global css in SCSS form

body{}

.q-page-container{
 padding-top: 0;
}

.main--row{
  margin: 30px
}

.pagination {
  display: inline-block;
  text-align: center;
}

.pagination{
  a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    color: $blue;
    font-weight: bolder;
    font-size: 22px;
  }
  a.selected{
    color: red
  }
}



.q-toolbar{
	a{
		color: black;
		font-weight: bolder;
		margin: 5px;
		text-decoration: none
	}
	a.exit--link{
		color: $red
	}
}

.q-field__native, .q-field__input {
    background-color: #eee;
    padding-left: 10px
}